
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
body{
    font-family: "Anek Bangla", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container div{
    width: 400px;
    height: 450px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 10px;
}

.container div img{
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 320px;
    
}

.container div p{
    text-align: center;
    font-size: 35px;
    color: black;
}
.container div p span{
    color: red;
}