
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');

body{
    font-family: "Tiro Bangla", sans-serif;
    background-color: rgb(229, 229, 1);
    
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    
    background-color: red;
    text-align: center;
    color: white;
    font-size: 20px;
}

.container div{
    background-color: white;
    width: 400px;
    height: 450px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 10px;
}

.container div img{
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 320px;
    
}

.container div p{
    text-align: center;
    font-size: 35px;
    color: black;
}
.container div p span{
    color: red;
}


.container{
    margin: 0px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}


@media (max-width: 720px) {
   
    .navbar{
        background-color: blue;
        width: 100%;
        font-size: 15px;
    }
    
    .container{
        grid-template-columns: repeat(2, 1fr);
         /* gap: 15px; */
         margin: 0px 2%;
    }
    .container div img{
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        width: 150px;
        
    }
    .container div{
        width:  100%;
        height: 220px;
        margin-bottom: -15px;

    }
    .container div p{
        text-align: center;
        font-size: 23px;
        color: black;
    }
}